{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau post</h1>

        <form method="post">
            <div class="mb-3">
                <label for="titre" class="form-label">Titre *</label>
                <input type="text" class="form-control" id="titre" name="titre"
                       value="{{ post.titre }}" required>
            </div>

            <div class="mb-3">
                <label for="contenu" class="form-label">Contenu *</label>
                <textarea class="form-control" id="contenu" name="contenu"
                          rows="10" required>{{ post.contenu }}</textarea>
            </div>

            <div class="mb-3">
                <label for="imageUrl" class="form-label">URL de l'image</label>
                <input type="url" class="form-control" id="imageUrl" name="imageUrl"
                       value="{{ post.imageFile }}" placeholder="https://example.com/image.jpg">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">URL de l'image</label>
                <input type="url" class="form-control" id="imageUrl" name="imageUrl"
                       value="{{ post.pdfFile }}" placeholder="https://example.com/image.jpg">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">URL de l'image</label>
                <input type="url" class="form-control" id="imageUrl" name="imageUrl"
                       value="{{ post.videoFile }}" placeholder="https://example.com/image.jpg">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">URL de l'image</label>
                <input type="url" class="form-control" id="imageUrl" name="imageUrl"
                       value="{{ post.audioFile }}" placeholder="https://example.com/image.jpg">
            </div>


            <div class="d-flex gap-2">

                <button type="submit" name="action" value="publier" class="btn btn-success">
                    <i class="bi bi-send"></i> Publier maintenant
                </button>
                <a href="{{ path('admin_post_index') }}" class="btn btn-outline-secondary">Annuler</a>
            </div>
        </form>
    </div>

{% endblock %}
