{% extends 'admin/base.html.twig' %}

{% block title %}Modifier {{ lettre.titre }} - Administration{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1><i class="bi bi-pencil"></i> Modifier l'atelier</h1>
            <a href="{{ path('admin_atelier_list') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Retour à la liste
            </a>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h5 class="mb-0">{{ lettre.titre }}</h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                {{ form_row(form.titre) }}
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form_row(form.isArchive) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                {{ form_row(form.prix) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.description) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.informations) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.lienHelloAsso) }}
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <a href="{{ path('admin_atelier_list') }}" class="btn btn-secondary">
                                <i class="bi bi-x-circle"></i> Annuler
                            </a>
                            <button type="submit" class="btn btn-warning">
                                <i class="bi bi-check-circle"></i> Enregistrer les modifications
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
