{% extends 'base.html.twig' %}

{% block title %}Écriture de Soie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('app_lettre') }}" type="submit" class="button">Retour</a>
    <h1>{{ lettre.titre }}</h1>

    <!-- Messages flash -->
    {% for message in app.flashes('success') %}
        <div class="message">{{ message }}</div>
    {% endfor %}

    <!-- Informations pratiques -->
    <section class="cards-container">
        <div class="card">
            <h5 class="titre">Informations pratiques</h5>

            <div class="card-body">

                {% if lettre.prix %}
                    <p>💶 <strong>Prix :</strong> {{ lettre.prix }} €</p>
                {% endif %}

                <br>

                <!-- Description -->
                {% if lettre.description %}
                    <h5 class="card">Description</h5>
                    <p>{{ lettre.description|nl2br }}</p>
                {% endif %}


                <!-- Informations complémentaires -->
                {% if lettre.informations %}
                    <h5 class="card">Informations complémentaires</h5>
                    <p>{{ lettre.informations|nl2br }}</p>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Formulaire d'inscription -->
    <section class="cards-container">
        <div class="card">
            <h5 class="titre">Inscription</h5>
            <div class="card-body">
                {% if inscrit %}
                    <!-- Message de confirmation après inscription -->
                    <h5>Merci pour votre inscription !</h5>
                {% else %}
                    <!-- Afficher le formulaire d'inscription -->
                    {{ form_start(form) }}
                    <div class="form">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="form">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="form">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="form">
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <div class="form">
                        {{ form_label(form.adressePostale) }}
                        {{ form_widget(form.adressePostale) }}
                        {{ form_errors(form.adressePostale) }}
                        <small class="form">
                            ℹ️ Votre adresse complète est indispensable pour la livraison
                        </small>
                    </div>


                    <div class="form">
                        {{ form_label(form.moyenPaiement) }}
                        <div class="radio-group">
                            {{ form_widget(form.moyenPaiement) }}
                        </div>
                        {{ form_errors(form.moyenPaiement) }}
                    </div>

                    {# Le lien HelloAsso, caché par défaut #}
                    {% if lettre.lienHelloAsso %}
                        <div id="helloasso-link" {# style="display: none;" #}>
                            <strong>Pour finaliser votre paiement par CB :</strong><br>
                            Après validation du formulaire, vous serez redirigé vers HelloAsso pour effectuer le paiement.
                        </div>
                    {% endif %}

                    <button type="submit" class="button">Valider</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}
