{% extends 'base.html.twig' %}

{% block title %}Écriture de Soie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('app_visio') }}" type="submit" class="button">Retour</a>
    <h1>{{ visio.titre }}</h1>

    <!-- Messages flash -->
    {% for message in app.flashes('success') %}
        <div class="message">{{ message }}</div>
    {% endfor %}

    <!-- Informations pratiques -->
    <section class="cards-container">
        <div class="card">
            <h5 class="titre">Informations pratiques</h5>

            <div class="card-body">
                {% if visio.dateVisio %}
                    <p>
                        📅 <strong>Date :</strong> {{ visio.dateVisio|date('d/m/Y') }}
                        De {{ visio.heureDebut ? visio.heureDebut|date('H\\hi') : 'NULL' }}
                        à {{ visio.heureFin ? visio.heureFin|date('H\\hi') : 'NULL' }}
                    </p>
                {% endif %}


                {% if visio.prix %}
                    <p>💶 <strong>Prix :</strong> {{ visio.prix }} €</p>
                {% endif %}

                <br>

                <!-- Description -->
                {% if visio.description %}
                    <h5 class="card">Description</h5>
                    <p>{{ visio.description|nl2br }}</p>
                {% endif %}


                <!-- Informations complémentaires -->
                {% if visio.informations %}
                    <h5 class="card">Informations complémentaires</h5>
                    <p>{{ visio.informations|nl2br }}</p>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Formulaire d'inscription -->
    <section class="cards-container">
        <div class="card">
            <h5 class="titre">Inscription</h5>
            <div class="card-body">
                {% if inscrit %}
                    <!-- Message de confirmation après inscription -->
                    <h5>Merci pour votre inscription !</h5>
                {% else %}
                    <!-- Afficher le formulaire d'inscription -->
                    {{ form_start(form) }}
                    <div class="form">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="form">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="form">
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <div class="form">
                        {{ form_label(form.moyenPaiement) }}
                        <div class="radio-group">
                            {{ form_widget(form.moyenPaiement) }}
                        </div>
                        {{ form_errors(form.moyenPaiement) }}
                    </div>

                    {# Le lien HelloAsso, caché par défaut #}
                    {% if visio.lienHelloAsso %}
                        <div id="helloasso-link" {# style="display: none;" #}>
                            <strong>Pour finaliser votre paiement par CB :</strong><br>
                            Après validation du formulaire, vous serez redirigé vers HelloAsso pour effectuer le paiement.
                        </div>
                    {% endif %}

                    {# Case CGV #}
                    <div class="form-check">
                        {{ form_widget(form.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label">
                            Je reconnais avoir pris connaissance des
                            <a href="{{ asset('uploads/Documents légaux/CGV.pdf') }}" target="_blank">CGV</a>
                            et de la
                            <a href="{{ asset('uploads/Documents légaux/Politique-de-confidentialite.pdf') }}" target="_blank">Politique de confidentialité</a>
                            et les accepter.
                        </label>
                        {{ form_errors(form.agreeTerms) }}
                    </div>

                    {# Case majorité #}
                    <div class="form-check">
                        {{ form_widget(form.ageMajeur, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label">
                            J'ai plus de 18 ans.
                        </label>
                        {{ form_errors(form.ageMajeur) }}
                    </div>

                    <button type="submit" class="button">Valider</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}
